<img src="https://townphoto.net/tokyo/tal/tal03.jpg" width="450px" height="300px" class="disp-block blockcenter">
<h2 >
  渋谷センター街・渋谷ヒカリエ周辺マップ
</h2>
<div class="slick">
<div>
<img src="/assets/map_center.png" width="450px" height="300px" class="disp-block blockcenter"></div>
<div>
<img src="/assets/map2_center.png" width="450px" height="300px" class="disp-block blockcenter"></div>
</div>

<h2><a href="http://localhost:3000/posts/1">①19tea(ナインティーン・ティー)</a></h2>
<h2><a href="http://localhost:3000/posts/2">②CoCo都可 (ココ・トカ)</a></h2>
<h2><a href="http://localhost:3000/posts/3">③Tapi Café(タピカフェ)</a></h2>
<h2><a href="http://localhost:3000/posts/4">④Piyanee(ピヤニー)</a></h2>
<h2><a href="http://localhost:3000/posts/5">⑤東季17(トキ・セブンティーン)</a></h2>
<h2><a href="http://localhost:3000/posts/6">⑥辰杏珠(シンアンジュ)</a></h2>
<h2><a href="http://localhost:3000/posts/7">⑦Tapista(タピスタイ)</a></h2>
<h2><a href="http://localhost:3000/posts/8">⑧Lea Lea Tea(レアレアティー)</a></h2>
<h2><a href="http://localhost:3000/posts/9">⑨瑪蜜黛(モミトイ)</a></h2>
<h2><a href="http://localhost:3000/posts/10">⑩一芳(イーファン)</a></h2>
<h2><a href="http://localhost:3000/posts/11">⑪Mario Gelateria(マリオ・ジェラテリア)</a></h2>
<h2><a href="http://localhost:3000/posts/12">⑫Bull Pulu(ブルプル)</a></h2>




<%# <%= form_with model: @post, class: :form, local: true do |form| %>
  <%# <%=form.text_field :image, placeholder: :画像, class: :form__image%>
  <%# <%= form.text_field :title, placeholder: :タイトル, class: :form__title %> 
  <%# <%= form.text_area :content, placeholder: :ブログ本文, class: :form__text %> 
  <%# <%= form.submit '投稿する', class: :form__btn %>
<%# <% end %>  
<%# <img src="./img/map_center.png" width="450px" height="300px" class="disp-block blockcenter"> %>